# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Model outputs and cached results - don't track these
outputs/
results/

# Logs
*.log
logs/
/cached_results2/

# Environment files
.venv
venv/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

.mypy_cache/*
.ruff_cache/*
